/* Write your CSS here */

/* Write your CSS here */

.about-container {
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 750px;
}
